@use "@material/typography/mdc-typography";

@use "@material/layout-grid";

:root {
  --mdc-theme-primary: #00cec9;
  --mdc-theme-secondary: #55efc4;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #ff7675;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0,0,0,0.87);
  --mdc-theme-text-secondary-on-background: rgba(0,0,0,0.54);
  --mdc-theme-text-hint-on-background: rgba(0,0,0,0.38);
  --mdc-theme-text-disabled-on-background: rgba(0,0,0,0.38);
  --mdc-theme-text-icon-on-background: rgba(0,0,0,0.38);
  --mdc-theme-text-primary-on-light: rgba(0,0,0,0.87);
  --mdc-theme-text-secondary-on-light: rgba(0,0,0,0.54);
  --mdc-theme-text-hint-on-light: rgba(0,0,0,0.38);
  --mdc-theme-text-disabled-on-light: rgba(0,0,0,0.38);
  --mdc-theme-text-icon-on-light: rgba(0,0,0,0.38);
  --mdc-theme-text-primary-on-dark: #fff;
  --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,0.7);
  --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,0.5);
  --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,0.5);
  --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,0.5);
  --darryl-theme-background: #fafafa;
}

.u-centered {
  text-align: center;
}
